.body {
    color: rgb(68, 74, 109);
    background-color: rgb(233, 232, 172);
    font-family: 'Luminari', sans-serif;
    background-image: url(../images/parchment_bg.png);
    background-size: cover;
}

.navbar-custom {
    color: white;
    background-color: black;
}

.blue-text {
    color: rgb(0, 0, 56);
}